.ipod {
    max-height: 525px;
    background-image: url("nano.jpg");
    background-color: black;
    height: 525px;
    width: 250px;
    background-position: no-repeat;
    background-size: 250px;
    padding: 12px 8px 0px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.body {
    background-color: rgba(243, 243, 167, 0.699);
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}